// Backgrounds
$firstBackground: #FEFDFB;
$secondBackground: #FEFBE9;
$thirdBackground:#AB6400;
$contactBackground: #E4DAA6;

// UI component backgrounds
$componentBackground: #F0F0F3;
$componentBackgroundHover: #E8E8EC;
$componentBackgroundSelected: #E0E1E6;

// Borders
$borderNotInteractive: #CBCDFF;
$borderInteractive: #B8BAF8;
$borderStronger: #9B9EF0;

// Solid Backgrounds
$solidBackground: #FFC53D;
$hoverBackground: #FFBA18;

// Text
$lowText: #AB6400;
$highText: #4F3422;